# MongoDB connection string (use MongoDB Atlas or local MongoDB)
# Example for local:
MONGO_URI=mongodb://127.0.0.1:27017/employee-management-system

# Example for Atlas:
# MONGO_URI=mongodb+srv://<user>:<password>@cluster0.mongodb.net/employee-management-system?retryWrites=true&w=majority

PORT=3001
